*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    border: 2px solid red;
    margin: 20px;
    padding: 10px;
}